<p style="color: green"><%= notice %></p>

<h3><%= @product.title %></h3>
<p>price: $<%= @product.price %></p>
<p>stock quantity: <%= @product.stock_quantity %></p>
<p>description: <%= @product.description %></p>
<p>category: <%= @product.category_id %></p>

<div>
  <%= link_to "Back to products", products_path %>
</div>
